@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Noto Sans', sans-serif;
    font-size: .92rem;
    color: #444;
}

a:hover {
    color: #883433;
    text-decoration: none;
}

.header-nav {
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.45);
    background: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 5;
}

h1 {
    display: inline-block;
    font-size: .85rem;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

.logo img {
    height: 30px;
}

.separador {
    width: 1px;
    background: gainsboro;
    height: 15px;
}

.navigation li {
    padding: 3px 15px;
    margin: 0 2px;
    transition: .3s;
}

.navigation li:hover {
    background: #fdb900;
}

.redes li {
    padding-left: 10px;
}

.redes li i {
    font-size: 1.2rem;
}

#inicio {
    
}

.header-banner {
    background-image: url('../img/lgo.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    min-height: 80vh;
}

.cta {
    background: rgba(255,255,255,0.6);
    padding: 80px 20px;
    margin-left: 20px;
}

.cta h3 {
    font-size: 1rem;
}

#resultados {
    padding: 50px 0;
    top: -50px;
    position: relative;
}

#resultados::after {
    content: '';
    width: 100%;
    height: 50px;
    background: #fdb900;
    position: absolute;
    bottom: -30px;
    left: 0;
    transform: rotate(-2deg);
    z-index: -1;
}

.title {
    background: #fdb900;
	padding-bottom: 5px;
    margin-bottom: 50px;
    position: relative;
    z-index: 3;
}

.title::after {
    content: '';
    width: 110%;
    height: 60px;
    background: #fdb900;
    position: absolute;
    top: -35px;
	left: 0;
	transform: rotate(-2deg);
	z-index: -1;
}

footer {
    padding: 50px 20px;
    padding-bottom: 0;
    text-align: center;
    background: lightgoldenrod#fdb900;
}

form.search {
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

form.search .input-group {
    box-shadow: 3px 3px 0px 0px #883433;
}

form.search input, form.search .input-group-addon {
    padding: 5px 15px;
    border: 1px solid #883433;
    border-radius: 0;
}

.input-group-addon {
    background: #f38500;
    border-left: none;
}

form.search button {
    background: #f38500;
    border: 1px solid #883433;
    padding: 5px 20px;
    box-shadow: 3px 3px 0px 0px #883433;
    color: white;
}

.datepicker {
    padding: 10px;
}

.datepicker td, .datepicker th {
    border-radius: 0;
}

.datepicker table tr td.active.active {
    background: transparent;
    color: black;
    border: 1px solid gainsboro;
}

.resultado {
    border: 1px solid #fdb900;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 4px 4px 0px 0px #883433;
    position: relative;
}

.resultado:hover {
    margin-top: -5px;
}

.resultado .display {
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

.resultado img {
    max-width: 100%;
}

.resultado .redes {
    height: 100%;
    margin-top: 10px;
    padding-right: 10px;
}

.resultado .data {
    background: #fdb900;
    padding: 5px 10px;
}

.resultado .num-sorteo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3px 10px;
    font-size: .85rem;
    background: #e9e9e9;
}

form.contacto {
    max-width: 400px;
}

form.contacto input, form.contacto textarea {
    margin-bottom: .5rem;
    padding: 5px 15px;
    border: 1px solid #fdb900;
    box-shadow: 3px 3px 0px 0px #883433;
}

form.contacto button {
    padding: 5px 25px;
    background: #fdb900;
    border: none;
    box-shadow: 3px 3px 0px 0px #f38500;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .95rem;
    color: #883433;
}

.bottom {
    border-top: 1px solid gainsboro;
    padding: 10px 0;
}

.bottom span {
    font-size: .8rem;
}